.Footter-main-div{
    position: absolute;
    left: -23.1vw;
    width: 99vw;
    height: 70vh;
    /* border: 1px solid red; */
}
.Footter-main-div-Enhance{
    position: absolute;
    left: -6.2vw;
    width: 99vw;
    height: 70vh;
    /* border: 1px solid red; */
}
.Footer-top{
    height: 50%;
    width: 100%;
}
.Footer-bottom{
    height: 50%;
    width: 100%;
}
.Footter-sub-top-div-one{
    /* border: 1px solid blue; */
    padding: 3vh 5vw;
    background-color: black;
    color: white;
    /* padding-top: 4vh; */
}
.Footter-sub-top-div-one h5{
    margin-bottom: 4vh;
}
.Footter-sub-top-div-one p{
    margin-bottom: 4vh;
}
.Footter-sub-top-div-one input{
    border: none;
    margin-right: 2vw;
}
.Footter-sub-top-div-one button{
    background-color: transparent;
    border: 1px solid rgb(255, 233, 191,0.3);
    padding: 0.5vh 1vw;
    color: white;
    border-radius: 5px;
}
.Footter-sub-top-div-two{
   background-color: black;
   color: white;
   padding-top: 3vh;
}


.Footter-sub-bottom-div-one{
    background-color: black;
    color: white;
    padding: 2vh 5vw;
}
.Footter-sub-bottom-div-two{
    background-color: black;
    color: white;
    padding-top: 2vh;
}
.Footter-sub-bottom-div-three{
    background-color: black;
    color: white;
    padding-top: 2vh;
}
.Footter-sub-bottom-div-three i{
    font-size: 1.5rem;
    margin-top: 1vh;
    color: rgb(254, 12, 12,0.5);
}
.contact-us-mobile-footer-line{
    display: none;
}
.hide-angle-down-large{
    color: black;
}
.meta-muse-mobile-footer-line{
    display: none;
}
.quick-links-mobile-footer-line{
    display: none;
}


@media screen and (max-width:500px) {

    .Footter-main-div{
        position: absolute;
        left: 0;
        width: 99vw;
        height: 80vh;
        /* border: 1px solid red; */
    }
    .Footter-sub-bottom-div-one p{
        display: none;
    }
    .Footter-sub-bottom-div-two p{
        display: none;
    }
    .Footter-sub-top-div-two p{
        display: none;
    }
    .Footter-sub-top-div-two span{
        margin-right: 2vw;
    }
    .contact-us-mobile-footer-line{
        display: block;
        position: absolute;
        height: 0.1vh;
        width: 100vw;
        background-color: white;
        bottom: 0;
        left: 0;
    }

    

  




    .Footter-sub-top-div-one{
        padding: 3vh 5vw;
    }
    .Footter-sub-top-div-two{
       padding-top: 3vh 8vw;
       padding-left: 5vw;
       position: relative;
    }
    
    .Footter-sub-bottom-div-one{
        padding: 2vh 8vw 1vh 5vw;
        display: flex;
        justify-content: space-between;
        padding-right: 8vw;
        align-items: center;
        position: relative;
    }
    .meta-muse-mobile-footer-line{
        display: block;
        position: absolute;
        height: 0.1vh;
        width: 100vw;
        background-color: white;
        bottom: 0;
        left: 0;
    }
    .Footter-sub-bottom-div-two{
        padding: 2vh 5vw 1vh 5vw;
        display: flex;
        justify-content: space-between;
        padding-right: 8vw;
        align-items: center;
        position: relative;
        
    }
    .quick-links-mobile-footer-line{
        display: block;
        position: absolute;
        height: 0.1vh;
        width: 100vw;
        background-color: white;
        bottom: 0;
        left: 0;
    }
    .Footter-sub-bottom-div-three{
        padding: 2vh 45% 8vh 5vw;
        display: flex;
        justify-content: space-between;
        padding-right: 50%;
        align-items: center;
    }
    .hide-angle-down-large{
        display: block;
        color: white;
        font-size: 1.2rem;
    }
}